*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html {
  block-size: 100%;
}

body,
html {
  margin: 0;
}

body {
  position: relative;
  inline-size: 1280px;
  block-size: 100%;
  margin-inline: auto;
  background-color: #ffffff;
  color: #333333;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

