.button {
  display: inline-block;  
  padding-inline: 12px;
  padding-block: 16px;
  border: none;
  background-color: #FC9B27;
  color: #ffffff;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 700;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #FC7427; 
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.14) inset;
}

.button:active {
  box-shadow: none;
}